*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: var(--backgroundColor);
}

.titleDiv {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	margin: 0;
	flex-direction: column;
	z-index: 1;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}

.subtitle {
	margin-top: 0.5em;
}

.hide {
	display: none;
}

.bird {
	--bird-top: -1000;
	--bird-size: 60px;
	position: absolute;
	background-color: var(--birdColor);
	width: var(--bird-size);
	height: var(--bird-size);
	left: var(--bird-size);
	top: calc(var(--bird-top) * 1px);
	border-radius: 50%;
}

.pipe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: calc(var(--pipe-left) * 1px);
	width: calc(var(--pipe-width) * 1px);
}

.pipe > .segment {
	position: absolute;
	width: 100%;
	background-color: var(--pipeColor);
}

.pipe > .top {
	top: 0;
	bottom: calc(var(--hole-top) * 1px);
}

.pipe > .bottom {
	bottom: 0;
	top: calc(
		100vh - calc(var(--hole-top) * 1px) + calc(var(--hole-height) * 1px)
	);
}

/*Settings*/

.settings {
	border: 3px solid rgb(49, 63, 60);
	background-color: rgb(148, 173, 168);
	width: 15vw;
	min-width: 300px;
	height: 25vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	z-index: 2;
}

.btn {
	padding: 25px;
	position: absolute;
}
